* {
     box-sizing: border-box;
  }

            body {
            margin: 0;
            }

            /* Style the header */
            .header {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
            }

            /* Style the top navigation bar */
            .topnav {
            overflow: hidden;
            background-color: #333;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
            }

            /* Style the topnav links */
            .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            }

            /* Change color on hover */
            .topnav a:hover {
            background-color: #ddd;
            color: black;
			
            }
            .logo{
            position: absolute;
            top: 8px;
            left: 16px;
            
            }
			.home {
				min-height: 100vh;
				display: flex;
				align-items: center;
				background: url(img/blog-img2.png) no-repeat;
				/*background-size: cover;*/
				background-color: thistle;
				background-position:right;
			}
			.home .homeContent{
				width: 60%;
				float: left;
				text-align: center;
				padding: 4rem;
			}
			.home .homeContent h2{
				font-size: 5rem;
				font-weight: bolder;
				margin-bottom: 2rem;
				line-height: 4 rem;
				color: var(--black);
				text-shadow: var(--box-shadow);
			}
			.home .homeContent p{
				font-size: 1.8rem;
				line-height: 2;
				margin-bottom: 2rem;
			}
			.home .homeContent .home-btn{
				height: 3rem;
			}
			.home .homeContent .home-btn button{
				font-size: 1.8rem;
				background-color: var(--black);
				color: var(--white);
				border-radius: .7rem;
				padding: .7rem 2.4rem;
				cursor: pointer;
			}
			.home .homeContent .home-btn button:hover{
				font-size: 2rem;
			}
			section{
				padding: 2rem 7%;
			}
			
			/*product*/
			       body {
    font-family: Arial;
}

#gridview {
    text-align: center;
	background-color:lavenderblush;
}

div.image {
    margin: 10px;
    display: inline-block;
    position: relative;
	background-color: thistle;
}

div.image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 1px solid #ccc;
}

div.image img:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.32), 0 0 0 0px
        rgba(0, 0, 0, 0.16);
}

.heading {
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 55px;
    font-variant: small-caps;
}

#grid {
    margin-bottom: 30px;
}



.add-to-cart {
    float:right;
    text-align: center;
}

/* Responsive Styles */
@media screen and (min-width: 1224px) {
    div.image {
        width: 300px;
    }
}

@media screen and (min-width: 1044px) and (max-width: 1224px) {
    div.image {
        width: 250px;
    }
}

@media screen and (min-width: 845px) and (max-width: 1044px) {
    div.image {
        width: 200px;
    }
}
div.table-bordered table{
	border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
div.table-bordered th,td{
	border: 1px solid #999;
  padding: 0.5rem;
  background: lightblue;
  border-color: white;
  border: solid thin;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  